<div class="navbar-wrapper">
  <a class="navbar-brand">
    {{ (selectedCategory$ | async)?.name || 'All' }}
  </a>
  <ng-container *ngIf="{value: statistic$ | async} as statistic">
    <a class="navbar-brand pointer link" href="#" (click)="onToggleStatistic($event, !statistic.value)">
      {{ statistic.value ? 'Hide statistic' : 'Show statistic' }}
    </a>
  </ng-container>
</div>
<div class="justify-content-end">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link p-0">
        <button mat-icon-button>
          <mat-icon>help</mat-icon>
        </button>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-0">
        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
      </a>
    </li>
  </ul>
</div>
