<div class="d-flex align-items-baseline justify-content-between">
  <app-tasks-filters
    [priorities]="priorities$ | async"
    (setFilter)="onSetFilter($event)"
  ></app-tasks-filters>
  <div>
    <button (click)="onTaskAdd()" mat-raised-button color="primary">Add</button>
  </div>
</div>

<div class="card" *ngIf="{ loaded: loaded$ | async } as state">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Tasks</h4>
  </div>
  <div class="card-body table-responsive">
    <app-tasks-table
      *ngIf="state.loaded; else loader"
      [categories]="categories$ | async"
      [priorities]="priorityEntities$ | async"
      [tasks]="tasks$ | async"
      (taskEdit)="onTaskEdit($event)"
      (taskRemove)="onTaskRemove($event)"
      (categorySelect)="onCategorySelect($event)"
    ></app-tasks-table>

    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>
