<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <p mat-dialog-title>{{ data.title || 'Edit modal' }}</p>

    <mat-form-field *ngIf="form.get('name') as name">
      <mat-label>Name (required*)</mat-label>
      <input class="text-capitalize" matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="name.invalid">
        Please enter valid Name
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="d-flex align-items-center justify-content-between w-100">
      <div>
        <button class="mr-1" mat-raised-button color="primary" [disabled]="form.invalid">Save</button>
        <button mat-dialog-close type="button" mat-raised-button>Cancel</button>
      </div>

      <button *ngIf="data.name" (click)="onRemove()" type="button" mat-button color="warn">Remove</button>
    </div>
  </mat-dialog-actions>
</form>
