.card-title {
  font-size: 1.8rem;
  font-weight: 500;
}

.stat-card-title {
  font-size: 1rem;
  margin-bottom: 0;
}

.card {
  border: 3px solid transparent;
}

.completed-card {
  border-color: #93d893;
}
