.edit-category {
  color: #9a9a9a;
  opacity: 0;
  transition: 0.3s;
}

.nav-item {
  &:not(.active):hover {
    .uncompleted-count {
      background-color: #dadada;
    }
  }

  &.active {
    .edit-category {
      color: #dadada;
    }
  }

  &:hover {
    .edit-category {
      display: inline-block;
      opacity: 1;
    }
  }
}

.uncompleted-count {
  background-color: #eaeaea;
  border: 1px solid transparent;
  border-radius: 3px;
  color: black;
  min-width: 35px;
  padding: 5px;
  text-align: center;
  transition: .3s;
}
