<ul class="nav mt-1">
  <li class="nav-item mb-3" [class.active]="!selected" (click)="onSortByCategory(null)">
    <a class="nav-link d-flex align-items-center justify-content-between">
      <p>All</p>
      <div class="d-flex">
        <button
          (click)="onCategoryAdd($event)"
          class="edit-category w-auto h-auto lh-initial mr-2"
          mat-icon-button
          aria-label="Add new category"
        ><mat-icon>add</mat-icon>
        </button>
        <span class="uncompleted-count">{{ tasksUncompletedCount.count || 0 }}</span>
      </div>
    </a>
  </li>
  <mat-divider></mat-divider>
  <li
    *ngFor="let category of categories | orderBy:'asc':'name'"
    class="nav-item"
    [class.active]="selected?.id === category.id"
    (click)="onSortByCategory(category)">

    <a class="nav-link d-flex align-items-center justify-content-between">
      <p>{{ category.name }}</p>
      <div class="d-flex">
        <button
          (click)="onCategoryEdit($event, category)"
          class="edit-category w-auto h-auto lh-initial mr-2"
          mat-icon-button
          [attr.aria-label]="'Edit ' + category.name"
        ><mat-icon>edit</mat-icon>
        </button>
        <span class="uncompleted-count">{{ tasksUncompletedCount.entities[category.id] || 0 }}</span>
      </div>
    </a>
  </li>
</ul>

<p *ngIf="filter?.q && !categories.length" class="mt-3 text-center">
  No categories found
</p>
