<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <p mat-dialog-title>{{ task ? 'Edit task' : 'Add task' }}</p>

    <mat-form-field *ngIf="taskForm.get('name') as name">
      <mat-label>Name (required*)</mat-label>
      <input
        matInput
        placeholder="Name"
        formControlName="name"
      >
      <app-reset-field
        [form]="taskForm"
        matSuffix
        control="name"
      ></app-reset-field>
      <mat-error *ngIf="name.invalid">
        Please enter valid Name
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Category</mat-label>
      <mat-select formControlName="category">
        <mat-option>No category</mat-option>
        <ng-container *ngIf="categories$ | async | orderBy:'asc':'name' as categories">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <app-reset-field [form]="taskForm" matSuffix control="category"></app-reset-field>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Priority</mat-label>
      <mat-select formControlName="priorityId">
        <mat-option>No priority</mat-option>
        <ng-container *ngIf="priorities$ | async | orderBy:'asc':'id' as priorities">
          <mat-option *ngFor="let priority of priorities" [value]="priority.id">
            {{ priority.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <app-reset-field [form]="taskForm" matSuffix control="priorityId"></app-reset-field>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker">
      <app-reset-field
        [form]="taskForm"
        matSuffix
        control="date"
      ></app-reset-field>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <div>
      <button class="mr-1" mat-raised-button color="primary" [disabled]="taskForm.invalid">Save</button>
      <button mat-dialog-close type="button" mat-raised-button>Cancel</button>
    </div>

    <div class="d-flex align-items-center">
      <ng-container *ngIf="taskForm.get('completed') as completed">
        <mat-slide-toggle
          [checked]="completed.value"
          [matTooltip]="completed.value ? 'Activate' : 'Complete'"
          (toggleChange)="onChange()"
        ></mat-slide-toggle>
      </ng-container>
      <button *ngIf="task" (click)="onRemove()" class="ml-1" type="button" mat-button color="warn">Remove</button>
    </div>
  </mat-dialog-actions>
</form>
