<div class="navbar-wrapper">
  <a class="navbar-brand">
    {{ (selectedCategory$ | async)?.name || 'All' }}
  </a>
  <ng-container *ngIf="{value: statistic$ | async} as statistic">
    <a class="navbar-brand pointer link" href="#" (click)="onToggleStatistic($event, !statistic.value)">
      {{ statistic.value ? 'Hide statistic' : 'Show statistic' }}
    </a>
  </ng-container>
</div>
<div class="justify-content-end d-flex align-items-center mr-5">
  <button
    [attr.aria-expanded]="sidenavOpened"
    [class.toggled]="sidenavOpened"
    (click)="onToggleSidenav()"
    aria-label="Toggle navigation"
    class="navbar-toggler d-inline-block"
    matTooltip="Toggle sidenav"
  ><span class="sr-only">Toggle navigation</span>
    <span class="navbar-toggler-icon icon-bar"></span>
    <span class="navbar-toggler-icon icon-bar"></span>
    <span class="navbar-toggler-icon icon-bar"></span>
  </button>
  <button class="tutorial-button" (click)="onStartTutorial()" mat-icon-button matTooltip="Open tutorial">
    <mat-icon>help</mat-icon>
  </button>
</div>
