$themes: (
  default: (
    fixed-plugin-border-color: transparent white white transparent,
  ),
  dark: (
    fixed-plugin-border-color: transparent #2f3954 #2f3954 transparent,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .#{$theme}-edition & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}

$fixed-plugin-border-color: 'fixed-plugin-border-color';
