<div
  appClickOutside
  class="dropdown show-dropdown"
  [class.show]="showDialog.value"
  (clickOutside)="onCloseDialog(showDialog.value)">

  <a href="#" [attr.aria-expanded]="showDialog.value" (click)="onToggleDialog(!showDialog.value, $event)">
    <i class="fa fa-cog fa-2x"></i>
  </a>
  <ul class="dropdown-menu show" [class.scale-0]="!showDialog.value">
    <li class="header-title">Sidebar Filters</li>
    <li class="adjustments-line">
      <a href="javascript:void(0)" class="switch-trigger active-color">
        <div class="badge-colors ml-auto mr-auto">
          <span
            *ngFor="let themeColor of themeColors"
            (click)="onSetColor(themeColor)"
            [class]="'badge-' + themeColor.name"
            [class.active]="themeColor.name === color.name"
            class="badge filter"
          ></span>
        </div>
        <div class="clearfix"></div>
      </a>
    </li>
    <li class="header-title">Images</li>
    <li *ngFor="let src of themeImages" (click)="onSetImage(src)" [class.active]="src === image">
      <a class="img-holder switch-trigger">
        <img [src]="'assets/img/' + src" alt="">
      </a>
    </li>
    <li class="adjustments-line h-auto"></li>
    <li class="header-title">Priorities</li>
    <li class="button-container">
      <button (click)="onPrioritiesDialogOpen()" class="btn btn-default btn-block">
        Manage priorities
      </button>
    </li>
    <li class="header-title">Thank you for 95 shares!</li>
    <li class="button-container text-center">
      <button id="twitter" class="btn btn-round btn-twitter"><i class="fa fa-twitter"></i> &middot;
        45</button>
      <button id="facebook" class="btn btn-round btn-facebook"><i class="fa fa-facebook-f"></i> &middot;
        50</button>
      <br>
      <br>
    </li>
  </ul>
</div>
