<div class="sidebar" data-color="purple" data-background-color="white" data-image="assets/img/sidebar-1.jpg">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      Creative Tim
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav" *ngIf="categories$ | async | orderBy:'asc':'name' as categories">
      <li class="nav-item" (click)="onSortByCategory()">
        <a class="nav-link">
          <i class="material-icons">dashboard</i>
          <p>All</p>
        </a>
      </li>
      <li class="nav-item" *ngFor="let category of categories" (click)="onSortByCategory(category)">
        <a class="nav-link">
          <i class="material-icons">dashboard</i>
          <p>{{ category.name }}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
