<app-tasks-statistic></app-tasks-statistic>

<div id="step4">
  <app-tasks-filters
    class="w-100"
    [priorities]="priorities$ | async"
    (setFilter)="onSetFilter($event)">

    <button (click)="onTaskAdd()" mat-raised-button color="primary">Add</button>
  </app-tasks-filters>
</div>

<ng-container *ngIf="{ loading: loading$ | async } as state">
  <app-tasks-cards
    *ngIf="isMobile; else tableView"
    [categories]="categories$ | async"
    [priorities]="priorityEntities$ | async"
    [tasks]="tasks$ | async"
    (taskEdit)="onTaskEdit($event)"
    (categorySelect)="onCategorySelect($event)"
  ></app-tasks-cards>
  <ng-template #tableView>
    <div class="card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">Tasks</h4>
      </div>
      <div class="card-body table-responsive">
        <app-tasks-table
          *ngIf="!state.loading; else loader"
          [categories]="categories$ | async"
          [priorities]="priorityEntities$ | async"
          [tasks]="tasks$ | async"
          (taskEdit)="onTaskEdit($event)"
          (taskRemove)="onTaskRemove($event)"
          (categorySelect)="onCategorySelect($event)"
        ></app-tasks-table>

        <ng-template #loader>
          <app-loader></app-loader>
        </ng-template>
      </div>
    </div>
  </ng-template>
</ng-container>
