<app-filter (setFilter)="onSetQuery($event)" labelText="Search in category" wrapperClass="col-sm-6 col-md-3">
  <div class="col-sm-6 col-md-3">
    <mat-form-field [formGroup]="filtersForm">
      <mat-label>Filter by status</mat-label>
      <mat-select formControlName="completed" (selectionChange)="submit()">
        <mat-option>All statuses</mat-option>
        <mat-option [value]="true">Completed tasks</mat-option>
        <mat-option [value]="false">Uncompleted tasks</mat-option>
      </mat-select>
      <app-reset-field
        [form]="filtersForm"
        (reset)="submit()"
        matSuffix
        control="completed"
      ></app-reset-field>
    </mat-form-field>
  </div>

  <div class="col-sm-6 col-md-3">
    <mat-form-field [formGroup]="filtersForm">
      <mat-label>Filter by priorities</mat-label>
      <mat-select formControlName="priority" (selectionChange)="submit()">
        <mat-option>All priorities</mat-option>
        <mat-option value="0">without priorities</mat-option>
        <mat-option *ngFor="let priority of priorities" [value]="priority.id">
          {{ priority.name }}
        </mat-option>
      </mat-select>
      <app-reset-field
        [form]="filtersForm"
        (reset)="submit()"
        matSuffix
        control="priority"
      ></app-reset-field>
    </mat-form-field>
  </div>

  <div class="col-sm-6 col-md-3 d-flex justify-content-end">
    <div *ngIf="filtersForm.value.q || filtersForm.value.completed || filtersForm.value.completed === false || filtersForm.value.priority">
      <button class="mr-2" (click)="onReset()" mat-button>Clear</button>
    </div>
    <ng-content></ng-content>
  </div>
</app-filter>
