<mat-sidenav-container [class.mobile]="isMobile">
  <mat-sidenav id="step1" #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" fixedInViewport>
    <app-categories></app-categories>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-panel w-100">
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
        <app-header
          [sidenavOpened]="drawer.opened"
          (toggleSidenav)="drawer.toggle()"
          class="container-fluid"
        ></app-header>
      </nav>
      <div class="content mt-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <app-tasks></app-tasks>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
    <app-settings></app-settings>
  </mat-sidenav-content>
</mat-sidenav-container>
