.tasks-table {

  .completed {
    text-decoration: line-through;

    td {
      color: #797979;
    }
  }

  .empty {
    color: #b7b7b7;
  }

  th[mat-header-cell] {
    color: #9c27b0;
    font-size: 1rem;
    font-weight: 400;
  }

  td {
    padding: 0 5px;

    &:first-child {
      width: 5px;
    }
  }
}
