<ng-container *ngIf="tasks.length; else empty">
  <table mat-table matSort [dataSource]="dataSource" class="w-100">

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let task" [style.background-color]="task.completed && '#F8F9FA' || priorities[task.priorityId]?.color || '#fff'"></td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef></th>
      <td class="text-center" mat-cell *matCellDef="let task; let idx = index">{{ idx + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Name</th>
      <td (click)="onTaskEdit(task)" class="pointer" mat-cell *matCellDef="let task">{{ task.name }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Date</th>
      <td [class.empty]="!task.category" mat-cell *matCellDef="let task">
        {{ task.date | smartDate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Priority</th>
      <td [class.empty]="!task.priority" mat-cell *matCellDef="let task">
        <ng-container *ngIf="priorities[task.priorityId]; else noPriority">
          {{ priorities[task.priorityId].name }}
        </ng-container>
        <ng-template #noPriority>
          No priority
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Category</th>
      <td [class.empty]="!task.category" mat-cell *matCellDef="let task">
        <ng-container *ngIf="categories[task.category]; else noCategory">
          <span class="link" (click)="onCategorySelect(categories[task.category])">
            {{ categories[task.category].name }}
          </span>
        </ng-container>
        <ng-template #noCategory>
          No category
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let task">
        <div class="d-flex align-items-center">
          <button
            class="remove w-auto mr-2"
            (click)="onTaskRemove(task)"
            mat-icon-button
            [attr.aria-label]="'Remove ' + task.name"
          ><mat-icon>delete</mat-icon>
          </button>
          <button
            class="edit w-auto mr-2"
            (click)="onTaskEdit(task)"
            mat-icon-button
            [attr.aria-label]="'Edit ' + task.name"
          ><mat-icon>edit</mat-icon>
          </button>
          <mat-checkbox
            class="checkbox--no-margins"
            (change)="onTaskCheck($event, task)"
            [checked]="task.completed"
          ></mat-checkbox>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let task" [class.completed]="task.completed"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 50, 100]" showFirstLastButtons></mat-paginator>
</ng-container>

<ng-template #empty>
  <h4 class="text-center">
    Task list is empty
  </h4>
</ng-template>
