.edit-category {
  color: #9a9a9a;
  opacity: 0;
  transition: 0.3s;
}

.nav-item {
  &.active {
    .edit-category {
      color: #dadada;
    }
  }

  &:hover {
    .edit-category {
      display: inline-block;
      opacity: 1;
    }
  }
}
