/* You can add global styles to this file, and also import other style files */
@import 'assets/css/material-dashboard.min.css';

html, body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

.nav-item,
.pointer {
  cursor: pointer;
}

.checkbox--no-margins {
  .mat-checkbox-layout {
    margin: 0;
  }
}

.sidebar-overlay {
  position: relative;
  z-index: 4;
}

.text-underline-hover {
  &:hover {
    text-decoration: underline;
  }
}

.scale-0 {
  transform: scale(0) !important;
}

.w-10 {
  width: 10%;
}

.w-auto {
  width: auto !important;
}

.h-auto {
  height: auto !important;
}

.lh-initial {
  line-height: initial !important;
}

.link {
  &:hover {
    cursor: pointer;
    filter: brightness(.5);
    text-decoration: underline;
  }
}

.hide-buttons {
  .mat-paginator-range-actions button {
    display: none;
  }
}

.edit {
  color: #9a9a9a;
}

.remove {
  color: #ea6561;
}

mat-form-field {
  width: 100%;
}
