/* You can add global styles to this file, and also import other style files */
@import 'assets/css/material-dashboard.min.css';

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

.nav-item,
.pointer {
  cursor: pointer;
}

.checkbox--no-margins {
  .mat-checkbox-layout {
    margin: 0;
  }
}

.sidebar-overlay {
  position: relative;
  z-index: 4;
}

.scale-0 {
  transform: scale(0) !important;
}

.w-10 {
  width: 10%;
}

.w-auto {
  width: auto !important;
}

.h-auto {
  height: auto !important;
}

.lh-initial {
  line-height: initial !important;
}

.link {
  &:hover {
    cursor: pointer;
    filter: brightness(0.5);
    text-decoration: underline;
  }
}

.hide-buttons {
  .mat-paginator-range-actions button {
    display: none;
  }
}

.navbar.navbar-absolute {
  z-index: 1;
}

.edit {
  color: #9a9a9a;
}

.remove {
  color: #ea6561;
}

.fixed-plugin {
  .dropdown .dropdown-menu {
    top: 0 !important;

    &::after {
      border: 12px solid black;
      box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
      border-color: transparent white white transparent;
      right: -10.5px;
      top: 12px;
      transform: rotate(-45deg);
    }

    &::before {
      display: none;
    }
  }
}

.introjs-fixParent {
  position: absolute !important;
}

.overflow-hidden {
  overflow: hidden;
}

mat-form-field {
  width: 100%;
}

ngx-mat-color-palette {
  .row {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
}
